/* Mobile-first design */
/* For all screen sizes, Hero Section height will adjust with respect to Header height. Their total height will fill the entire viewport height. */
:root {
    --background-color-1: #FBF7FF;
    --background-color-2: #928BB7;
    --background-color-3: #5F5EC2;
    --font-color-1: #282727;
    --font-color-2: #585858;
    --font-color-3: #787878;
    /* Mobile-first */
    --font-size-mobile-l: 2rem;
    --font-size-mobile-m: 1.8rem;
    --font-size-mobile-s: 1.2rem;
    /* Large mobile phone and tablet */
    --font-size-tablet-l: 2.3rem;
    --font-size-tablet-m: 2rem;
    --font-size-tablet-s: 1.4rem;
    /* laptop and desktop */
    --font-size-laptop-l: 2.7rem;
    --font-size-laptop-m: 2.2rem;
    --font-size-laptop-s: 1.6rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
}

/* Header section contains the logo and navigation menu component */
header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background-color-2);
    width: 100%;
    height: 60px;
    padding: 1em;
}

/* Logo */
header > img {
    height: 40px;
    z-index: 1;
}

/* Hamburger icon for mobile screen */
.hamburger-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.hamburger-icon i {
    font-size: 30px;
    color: var(--font-color-1);
}

.hamburger-icon i:hover{
    background-color: var(--color-hover);
    border-radius: 4px;
    color: var(--background-color-1);
}

.hamburger-toggle {
    /*Caution: Position of this element is not declared. Once hidden, the positions of succeeding elements will adjust.*/
    display: none; 
}

.hamburger-toggle:checked ~ nav ul {
    display: block;
}

/* Navigation menu */
nav {
    width: 100%;
    background-color: var(--background-color-2);
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
}

.menu {
    text-align: center;
    text-transform: uppercase;
    font-size: var(--font-size-mobile-m);
    padding: 10px;
    /*For mobile screen only, initially the menu is hidden. It will then appear if hamburger icon is clicked*/
    display: none; 
}

.menu li {
    list-style: none;
    padding: 2px 0;
}

.menu a {
    color: white;
}

/* Flex all sections that are direct child of main element */
main > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

main > section > * {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Hero section */
#hero {
    height: calc(100vh - 60px);
    /* padding: 10vh 0 25vh; */
}

#hero * {
    width: 100%;
    text-align: center;
}

/* Hello greetings */
#hero h1 {
    font-size: var(--font-size-mobile-s);
    font-weight: 400;
    color: var(--font-color-3);
}

#hero > div {
    /* display: flex;   >>> already defined in "main > section > * " above. 
    flex-wrap: wrap;
    justify-content: center; */
    gap: calc(1rem + 20px);
}

/* My name is John */
#hero h2 {
    font-size: var(--font-size-mobile-l);
    padding-bottom: 0.5rem;
    color: var(--font-color-1);

}

/* Full Stack Web Developer */
#hero h3 {
    font-size: var(--font-size-mobile-s);
    color: var(--font-color-2);
}

/* Profile photo */
#hero img {
    width: 50%;
}

#github-linkedin {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

#github-linkedin a {
    width: 150px ;
    font-size: 18px;
    padding: 6px;
    border-radius: 30px;
    margin-bottom: 9px;
}

#github-linkedin a:nth-of-type(1) {
    background: var(--background-color-1);
    color: var(--font-color-1);
    border: 1px solid var(--background-color-3);
}

#github-linkedin a:nth-of-type(2) {
    background: var(--background-color-3);
    color: white;
}

/* Projects section */
#projects {
    background: var(--background-color-1);
}

#projects * {
    width: 100%;
    color: var(--font-color-1);
}

#projects h1 {
    font-size: calc(var(--font-size-mobile-l));
    padding: 1rem;
}

#projects article {
    border-radius: 1.5em;

}
#projects h2 {
    font-size: calc(var(--font-size-mobile-m) - 0.3em);
    padding: 0 2rem;
}
.article-description > p, a {
    font-size: 1em;
    padding: 1rem 2rem;
}

#projects img {
    width: 100%;
}


/* Responsiveness for large mobile phone and tablet */
@media only screen and (min-width: 565px) {

    /* Navigation menu */
    header label {
        display: none;
    }

    header nav {
        position: relative;
        display: flex;
        justify-content: right;
    }

    .menu {
        display: inline-block;
        padding: 0;
        text-transform: none;
    }

    .menu li {
        float: left;
        padding: 0;
        font-size: 1rem;
    }

    .menu a {
        padding: 0 1em;
    }

    /* Hero section */
    #hero h1 {
        font-size: var(--font-size-tablet-s);
    }
    #hero h2 {
        font-size: var(--font-size-tablet-l);
    }
    #hero h3 {
        font-size: var(--font-size-tablet-s);
    }
    #hero img {
        max-width: 352px;
    }
    #github-linkedin {
        flex-direction: row;
        justify-content: center;
    }
    #github-linkedin a {
        margin: 10px;
    }

    /* Project section */
    #projects h1 {
        font-size: calc(var(--font-size-tablet-l));
    }
    
    #projects h2 {
        font-size: calc(var(--font-size-tablet-m) - 0.5em);
    }
}

/* Responsiveness for laptop and desktop */
@media only screen and (min-width: 850px) {

    /* Hero section */
    /* Utilize grid display to arrange elements in their desired arrangements */
    #hero > div {
        display: grid;
        width: 95vw;
        max-width: 745px;
        max-height: 318px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 3fr;
    } 
    #hero h1 {
        order: 2;
        font-size: var(--font-size-laptop-s);
        padding-top: 25px;
    }
    #hero img {
        grid-row: 1 / 3;
        width: 90%;
    }
    #hero div div {
        order: 3;
    }
    #hero h2 {
        font-size: var(--font-size-laptop-l);
    }
    #hero h3 {
        font-size: var(--font-size-laptop-s);
    }   
    #github-linkedin {
        padding-top: 40px;
    }

    /* Projects section */
    #projects h1 {
        font-size: calc(var(--font-size-laptop-l));
    }
    #projects h2 {
        font-size: calc(var(--font-size-laptop-m) - 0.3em);
    }
    #projects article {
        flex: 1;
        align-items: start;
        height: 60vw;
    }
}

/* Responsiveness for landscape orientation of mobile phone */
@media only screen and (orientation: landscape) and (max-height: 600px) {
    /* Hero section */
    #hero {
        padding: 0;
    }
    #hero > div {
        width: 550px;
    } 
    #hero h1 {
        font-size: var(--font-size-mobile-s);
    }
    #hero h2 {
        font-size: var(--font-size-mobile-l);
    }
    #hero h3 {
        font-size: var(--font-size-mobile-s);
    }  
    #hero img {
        width: 100%;
    }
    #github-linkedin{
        padding-top: 26px;
    }
    #github-linkedin p {
        width: 110px ;
        font-size: 16px;
        padding: 5px;
        justify-self: center;
    }
}

