/*For all screen sizes, Hero Section height will adjust with respect to Header height. Their total height will fill the entire viewport height.*/
:root {
    --nav-padding: 2vh;
    --logo-height: 6vh; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

/*Header section contains the logo and navigation menu component*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #6AD4DD;
    width: 100%;
    padding: var(--nav-padding); 
}

/* Logo */
header > img {
    height: var(--logo-height);
}

/* Navigation menu*/
nav {
    background: #F1EEDC;
    width: 40vw; /*temporary*/
    height: 30px; /*temporary*/
}

/* Flex all sections that are direct child of main element*/
main > section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*Hero section*/
#hero {
    height: calc(100vh - var(--logo-height) - (2 * var(--nav-padding)));
    padding: 10vh 0;
}

#hero * {
    width: 100%;
    text-align: center;
}

/* Hello greetings*/
#hero h1 {
    font-size: 1.8rem;
    font-weight: 400;
    color: #787878;
}

#hero > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(1rem + 20px);
}

/* My name is John*/
#hero h2 {
    font-size: 2rem;
    padding-bottom: 0.5rem;
    color: #282727;

}

/* Full Stack Web Developer */
#hero h3 {
    font-size: 1.2rem;
    color: #414141;
}

/* Profile photo */
#hero img {
    width: 50%;
}

#linkedin-github {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

#linkedin-github p {
    width: 90px ;
    background: #8385ff;
    color: white;
    font-size: 13px;
    padding: 4px;
    border-radius: 30px;
    margin-bottom: 7px;
}

section:nth-child(2) {
    background: #DFF5FF;
    height: 100vh;
}

/* Responsiveness for tablet screens*/
@media only screen and (min-width: 565px) {
    #hero h1 {
        font-size: 2.0rem;
    }
    #hero h2 {
        font-size: 2.3rem;
    }
    #hero h3 {
        font-size: 1.4rem;
    }
    #hero img {
        max-width: 352px;
    }
    #linkedin-github {
        flex-direction: row;
        justify-content: center;
    }
    #linkedin-github p {
        width: 120px;
        font-size: 15px;
        padding: 10px 20px;
        margin: 10px;
    }
}

/*Responsiveness for laptop screens*/
@media only screen and (min-width: 765px) {
    #hero > div {
        display: grid;
        width: 95vw;
        max-width: 745px;
        max-height: 318px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 3fr;
    } 
    #hero h1 {
        order: 2;
        font-size: 2.2rem;
        padding-top: 25px;
    }
    #hero img {
        grid-row: 1 / 3;
        width: 100%;
    }
    #hero div div {
        order: 3;
    }
    #hero h2 {
        font-size: 2.7rem;
    }
    #hero h3 {
        font-size: 1.6rem;
    }   
    #linkedin-github {
        padding-top: 40px;
    }
}

/* Responsiveness for mobile phone landscape orientation */
@media only screen and (orientation: landscape) and (max-height: 600px) {
    #hero {
        padding: 0;
    }
    #hero > div {
        width: 650px;
    } 
    #hero h1 {
        font-size: 1.8rem;
    }
    #hero h2 {
        font-size: 2rem;
    }
    #hero h3 {
        font-size: 1.2rem;
    }   
}

